In [2]:
def my():
    print("hello")
my()

hello

In [4]:
def py(gname):
    print(gname  + " strdfg")

py("asd")
py("qwer")
py("jkhg")

asd strdfg
qwer strdfg
jkhg strdfg

In [5]:
def my(des, fed):
    print(des + " " + fed)
my("cfghj", "fghj")

cfghj fghj

In [6]:
def family(*kids):
    print("The youngest child is " + kids[2])
family("amanda", "linda" , "rose")

The youngest child is rose

In [7]:
def family(child1, child2, child3):
    print("The youngest child is " + child2)
family(child3="amanda", child1="linda" , child2="rose")

The youngest child is rose

In [8]:
def family(**kids):
    print("The youngest child is " + kids["initg"])
family(frame ="amanda", initg= "rose")

The youngest child is rose

In [11]:
def place(country = "china"):
    print("i am fron " + country)
place("japan")
place()
place("india")

i am fron japan
i am fron china
i am fron india

In [12]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [13]:
def num(x):
    return 5 * x
print(num(2))
print(num(5))
print(num(3))

10
25
15

In [20]:
def my_function(x, /):
  print(x)

my_function(3)

3

In [24]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(9)

Recursion Example Results:
1
3
6
10
15
21
28
36
45

45

In [25]:
x = lambda a : a + 3
print(x(5))

8

In [26]:

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [27]:
def my(n):
    return lambda a : a * n
double = my(2)
tripler = my(3)
print(double(11))
print(tripler(12))

22
36

In [28]:
cars = ["Ford", "Volvo", "BMW"]

for x in cars:
  print(x)

Ford
Volvo
BMW

In [33]:
cars = ["Ford", "Volvo", "BMW", "Ford"]

x=cars.count("Ford")
print(x)

2

In [34]:
class g:
    x = 5
p1=g()
print(p1.x)

5

In [35]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [36]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"    

p1 = Person("Erke", 17)

print(p1)

Erke(17)